@import 'partials/colors';
@import 'partials/reset';

/* Layout */

#tweets {
    max-width: 60rem;
}


/* Other Style */

body {
    background-color: $bg;
    .tweet {
        background-color: $tweet;
    }
}


/* Fonts */

#tweets {
    .tweet-content {
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
        line-height: 1.5;
    }
}